/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* light-mode */
    --bg-color: #f0f2f5;
    --bg-container: #ffffff;
    --text: #333;
    --text-secondary: #2C3E50;
    --text-header: #7f8c8d;
    --text-highlight: #3498db;
    --button-bg: #ffffff;
    --button-text: #000000;
    --progress-bar: #ddd;

    /* dark-mode */
    --bg-color-dark: #121212;
    --bg-container-dark: #333;
    --text-dark: #e0e0e0;
    --text-secondary-dark: #e0e0e0;
    --text-header-dark: #e0e0e0;
    --text-highlight-dark: #8ab4f8;
  }
  

#toggle-dark-mode {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999999;
}
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
    line-height: 1.8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-dark);
}


.container {
    max-width: 900px;
    background: var(--bg-container);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .container {
    background: var(--bg-container-dark);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--text-secondary) ;
}

.dark-mode header h1 {
    color: var(--text-secondary-dark);
}

header p {
    font-size: 14px;
    color: var(--text-header);
}

.dark-mode header p {
    color: var(--text-secondary-dark);
}

.section {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.section ul {
    padding-left: 20px;
}

.section ul li {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-secondary);
    padding-left: 20px;
    position: relative;
    align-items: center;
}

.dark-mode .section ul li {
    color: var(--text-secondary-dark);
}

.section ul li::before {
    content: "•";
    color: var(--text-highlight);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    top: 0;
}

.dark-mode .section ul li::before {
    color: var(--text-highlight-dark);
}

.section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--text-highlight);
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 2px;
}

.dark-mode .section h2 {
    color: var(--text-highlight-dark);
}

.section h3 {
    color: var(--text-secondary);
}

h3.section-language {
    font-size: 18px;
    color: var(--text-secondary);
    margin-bottom: 5px;
    font-weight: 500;
}

p.section-language {
    padding-left: 2%;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary);
}

.dark-mode p.section-language {
    color: var(--text-secondary-dark);
}

.dark-mode h3.section-language {
    color: var(--text-secondary-dark);
}

.skills-grid {
    display: grid;
    padding: 1% 0% 2% 2%;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}

.skill {
    margin-bottom: 16px;
}

.skill span {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
    color: var(--text-secondary);
}

.dark-mode .skill span {
    color: var(--text-secondary-dark);
}

.progress-bar {
    background-color: var(--progress-bar);
    border-radius: 10px;
    overflow: hidden;
    height: 15px;
    position: relative;
}

.progress-bar::after {
    content: attr(data-label);
    position: relative;
    top: -25px;
    left: 5%;
    transform: translateX(-50%);
    color: var(--bg-color);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
}

.progress-bar:hover::after {
    opacity: 1;
}

.progress {
    height: 100%;
    background-color: var(--text-highlight);
    transition: width 0.6s ease;
}

.dark-mode .progress {
    background-color: var(--text-highlight-dark);
}

.dark-mode .progress-bar::after {
    background-color: var(--text-highlight-dark);
}

.resume {
    text-align: justify;
}

.education {
    margin-bottom: 20px;
}

.education h3 {
    font-size: 18px;
    color: var(--text-secondary);
    margin-bottom: 5px;
}

.dark-mode .education h3 {
    color: var(--text-secondary-dark);
}

.education h4 {
    font-size: 16px;
    margin-top: 1%;
}

.education h5 {
    margin-left: 5%;
    margin-top: 1%;
    font-size: 14px;
}

.education p {
    font-size: 14px;
    color: var(--text-secondary);
    margin-left: 5%;
}

.dark-mode .education p {
    color: var(--text-secondary-dark);
}

.certifications {
    margin-bottom: 20px;
}

.certifications button {
    display: inline-block;
    background-color: #f0f0f0; 
    color: var(--text-highlight);
    font-weight: 600;
    border: none;
    border-radius: 6px; 
    padding: 6px 10px;
    font-size: 14px;
}

.dark-mode .certifications button {
    background-color: var(--bg-color-dark); 
    color: var(--text-highlight-dark);
}

button.courses {
    display: inline-block;
    background-color: #f0f0f0; 
    color: var(--text-secondary);
    font-weight: 700;
    border: none;
    border-radius: 6px; 
    padding: 4px 8px;
    font-size: 11px;
}

.dark-mode button.courses {
    background-color: var(--bg-color-dark); 
    color: var(--text-highlight-dark);
}

.certifications h3 {
    font-size: 18px;
    color: var(--text-highlight);
    margin-bottom: 5px;
}

.certifications h4 {
    margin-top: 2%;
    margin-left: 2%;
    color: var(--text-highlight);
}

.dark-mode .certifications h3, .dark-mode .certifications h4 {
    color: var(--text-highlight-dark);
}

.certifications h5 {
    margin: 0% 0% 1% 2%;
}

.certifications p {
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: 14px;
}

.projects h3 {
    color: var(--text-secondary);
    margin-bottom: 1%;
}

.dark-mode .projects h3 {
    color: var(--text-highlight-dark);
}

.projects h4, p {
    margin-left: 2%;
}

.projects p {
    margin-bottom: 2%;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 18px;
    color: var(--text-secondary);
    margin-bottom: 5px;
}

.dark-mode .job h3 {
    color: var(--text-highlight-dark);
}

.job h4 {
    font-size: 14px;
    color: var(--text-secondary);
    margin-bottom: 10px;
}

.dark-mode .job h4 {
    color: var(--text-secondary-dark);
}

.job p {
    margin-left: 10px;
}

.job ul {
    padding-left: 20px;
}

.job ul li {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-secondary);
    padding-left: 20px;
    position: relative;
    align-items: center;
}

.dark-mode .job ul li {
    color: var(--text-secondary-dark);
}

.job ul li::before {
    content: "•";
    color: var(--text-highlight);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    top: 0;
}

.dark-mode .job li::before {
    color: var(--text-highlight-dark);
}

li .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    filter: none;
}

.dark-mode li .icon {
    filter: brightness(0) invert(1);
}

a {
    color: var(--text-highlight);
    text-decoration: none;
    text-align: center;
}

.dark-mode a {
    color: var(--text-highlight-dark);
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
.skills-list li {
    font-size: 14px;
    color: var(--text-secondary);
    padding-left: 20px;
    position: relative;
  }
  
.skills-list li::before {
    content: "•";
    color: var(--text-highlight);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    top: 0;
  }
  
.dark-mode .skills-list li {
    color: var(--text-secondary-dark);
  }
  
.dark-mode .skills-list li::before {
    color: var(--text-highlight-dark);
  }

.social-section {
    margin-bottom: 30px;
}

.social-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--text-highlight);
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 5px;
}

.dark-mode .social-section h2 {
    color: var(--text-highlight-dark);
}

.social-section li {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-secondary);
    padding-left: 20px;
    position: relative;
    align-items: center;
}

.dark-mode .social-section li {
    color: var(--text-secondary-dark);
}


  @media (max-width: 600px) {

    body {
      font-size: 14px; 
    }
  
    header h1 {
      font-size: 24px; 
    }

    header p {
        font-size: 9px;
    }

    .section p {
        font-size: 10px;
    }

    .section h2 {
      font-size: 18px; 
    }
    
    .section h3 {
      font-size: 12px; 
    } 

    .skills-grid {
        display: grid;
        padding: 1% 0% 8% 0%;
        grid-template-columns: repeat(2, 1fr);
        gap: 3%;
    }

    .education h4 {
        font-size: 10px;
    }

    .education h5 {
        font-size: 9px;
    }

    .certifications h3 {
        font-size: 14px;
    }

    .certifications h4 {
        font-size: 12px;
    }

    .certifications button {
        font-weight: 700;
        border-radius: 6px; 
        padding: 6px 10px;
        font-size: 10px;
    }

    button.courses {
        border-radius: 6px; 
        padding: 4px 8px;
        font-size: 9px;
    }

    .job h4 {
        font-size: 10px;
    }
    
    .job ul li {
        font-size: 9px;
    }
}