/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* light-mode */
    --bg-color: #f0f2f5;
    --bg-container: #ffffff;
    --texto: #333;
    --texto-secundario: #2C3E50;
    --texto-header: #7f8c8d;
    --texto-destaque: #3498db;
    --button-bg: #f0f0f0;
    --button-text: #000000;

    /* dark-mode */
    --bg-color-dark: #121212;
    --bg-container-dark: #333;
    --texto-dark: #e0e0e0;
    --texto-secundario-dark: #e0e0e0;
    --texto-header-dark: #e0e0e0;
    --texto-destaque-dark: #8ab4f8;
  }
  

#toggle-dark-mode {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}
  
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--texto);
    line-height: 1.6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.3s, color 0.3s;

}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--texto-dark);
  }

.container {
    max-width: 900px;
    background: var(--bg-container);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-mode .container {
    background: var(--bg-container-dark);

}

header {
    text-align: center;
    margin-bottom: 20px;
}

button {
    z-index: 99999;
}

.resumo {
    text-align: justify;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--texto-secundario) ;
}

.dark-mode header h1 {
    color: var(--texto-secundario-dark);
}

header p {
    font-size: 14px;
    color: var(--texto-header);
}

.dark-mode header p {
    color: var(--texto-secundario-dark);
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--texto-destaque);
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 5px;
}

.dark-mode .section h2 {
    color: var(--texto-destaque-dark);
}

.section h3 {
    color: var(--texto-secundario);
}

.job, .education {
    margin-bottom: 20px;
}

.job h3, .education h3 {
    font-size: 18px;
    color: var(--texto-secundario);
    margin-bottom: 5px;
}

.dark-mode .job h3, 
.dark-mode .education h3 {
    color: var(--texto-secundario-dark);
}

.job h4, .education p {
    font-size: 14px;
    color: var(--texto-secundario);
    margin-bottom: 10px;
}

.dark-mode .job h4, 
.dark-mode .education p {
    color: var(--texto-secundario-dark);
}

.job p, .education p {
    margin-left: 10px;
}

.job ul {
    padding-left: 20px;
}

.job ul li {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--texto-secundario);
    padding-left: 20px;
    position: relative;
    align-items: center;
}

.dark-mode .job ul li {
    color: var(--texto-secundario-dark);
}

.job ul li::before {
    content: "•";
    color: var(--texto-destaque);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    top: 0;
}

.dark-mode .job li::before {
    color: var(--texto-destaque-dark);
}

li .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 10px;
    filter: none;
}

.dark-mode li .icon {
    filter: brightness(0) invert(1);
}

a {
    color: var(--texto-destaque);
    text-decoration: none;
    text-align: center;
}

.dark-mode a {
    color: var(--texto-destaque-dark);
  }

.general-section {
    margin-bottom: 30px;
}

.general-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--texto-destaque);
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 5px;
}

.dark-mode .general-section h2 {
    color: var(--texto-destaque-dark);
}

.general-section ul {
    padding-left: 20px;
}

.general-section ul li {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--texto-secundario);
    padding-left: 20px;
    position: relative;
    align-items: center;
}

.dark-mode .general-section ul li {
    color: var(--texto-secundario-dark);
}

.general-section ul li::before {
    content: "•";
    color: var(--texto-destaque);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    top: 0;
}

.dark-mode .general-section ul li::before {
    color: var(--texto-destaque-dark);
}

.social-section {
    margin-bottom: 30px;
}

.social-section h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--texto-destaque);
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 5px;
}

.dark-mode .social-section h2 {
    color: var(--texto-destaque-dark);
}

.social-section li {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--texto-secundario);
    padding-left: 20px;
    position: relative;
    align-items: center;
}

.dark-mode .social-section li {
    color: var(--texto-secundario-dark);
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 20px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
  }
  
  .skills-list li {
    font-size: 14px;
    color: var(--texto-secundario);
    padding-left: 20px;
    position: relative;
  }
  
  .skills-list li::before {
    content: "•";
    color: var(--texto-destaque);
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    top: 0;
  }
  
  .dark-mode .skills-list li {
    color: var(--texto-secundario-dark);
  }
  
  .dark-mode .skills-list li::before {
    color: var(--texto-destaque-dark);
  }
